html,body{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;

}

*{
  box-sizing: border-box;
}

.container{
  width: 500px;
  height: 500px;
  border-radius: 5%;
  border: solid 1px #fff;
  text-align: center;
  font-size: 500px;
}
