html,body{
  height: 100%;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  background-color: lightgray;
}

img{
  width: 25%;
  height: 80%;
  position: absolute;
  left: 0;;
  top: 10%;
  display: flex;
  align-items: center;
}

span{
  position: absolute;
  left: 30%;
  top: 17%;
  font-size: 20px;
}

p{
  position: absolute;
  left: 30%;
  top: 23%;
  height: 40%;
  width: 65%;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;

}

a{
  color: red;
  position: absolute;
  left: 30%;
  top: 75%;
}

#txt{
  height: 5vh;
  margin: 10px;
  border-color: black;
}

.main{
  margin: 0;

}

.items{
  width: 98vw;
  height: 20vh;
  min-height: 130px;
  margin: 1%;
  position: relative;
  background-color: white;
  min-width: 300px;
}
